@CHARSET "ISO-8859-1";
body {
<<<<<<< HEAD
    background-image: url"images/bg.jpg";
=======
    background-color: #d0e4fe;
>>>>>>> c04c972612f44a8517ac3447eb23c7fa2dfb9d86
}
.button {
	
    background-color: #008CBA; 
    color: white;
    font-size: 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: -8px -2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button1 {
    border: none;  
    padding: 16px 128px;
}
button:hover {
    background-color: #b6effc;
    color: black;
}
.button2 {
	background-color: white; 
	border-radius: 6px;
	padding: 16px 128px;
    border: 3;
    border-color: #F4FA58;
    color: black;
     width: 1024px;  
     height: 128px;
    font-size: 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 0px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
	}
.button3
{
	background-color: green;
	border:1;
	border-color: green;
	width: 64px;  
    height: 64px;
    margin: -4px -4px;
    border-radius: 6px;
    
}
.button3:hover {
    background-color: white;
    color: green;
}
h1
{
	align: center;
	width: 384px;
	word-wrap: break-word;
	
}
h3
{
	align: center;
	width: 384px;
	word-wrap: break-word;
	
}
.table1 {
	margin: -32px -4px;
    border-radius: 6px;
     width: 898px;  
     height: 16px;
}
.table2 {
	
    border-radius: 6px;
     width: 898px;  
     height: 16px;
}
.table3 {
	border: 1px solid black;
    border-radius: 6px;
    left: 64px;
    top: 64px;
  
}
img
{
	margin: -32px -128px;
	border-radius: 6px;
}
.img2{
	
	 max-width: 384px;  
     max-height: 384px;
	margin: 0px 0px;
	left: 64px;
    top: 64px;
}